<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
          http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd">

    <description>Spring Camel Configuration Description</description>
    <camelContext id="camel5" xmlns="http://camel.apache.org/schema/spring">
        <propertyPlaceholder id="properties" location="camel/camel.properties"/>
        <package>com.xinyuan.haze.demo.camel</package>
        <route id="userService" group="ws">
            <from uri="servlet:///test"/>
            <process ref="myProcessor"/>
            <to uri="http://localhost:8080/haze/cxf/userService?bridgeEndpoint=true"/>
            <removeHeaders pattern="CamelHttp*"/>
            <to uri="log:output"/></route>
        <!--<routeBuilder ref="myRouteBuilder" />-->
        <!--<route id="upload">
            <from uri="{{location.path}}?delay=60000&amp;bufferSize=1024&amp;filter=#bossUpLoadFilter&amp;readLockTimeout=30000"/>
            <to uri="{{ftp.url}}&amp;binary=true&amp;tempPrefix=temp&amp;bufferSize=1024&amp;localWorkDirectory=/temp&amp;ftpClient.dataTimeout=300000"/>
        </route>-->
       <!-- <route id="downLoad">
            <from uri="{{ftp.url}}&amp;binary=true&amp;tempPrefix=temp&amp;bufferSize=1024&amp;localWorkDirectory=/temp&amp;ftpClient.dataTimeout=300000&amp;filter=#bossDownLoadFilter&amp;delay=60000&amp;delete=true"/>
            <to uri="{{location.path}}?bufferSize=1024&amp;readLockTimeout=30000"/>
        </route>-->
        <!--<route id="transFile">
            <from uri="file:/home/sofar/下载/src"/>
            <to uri="file:/home/sofar/下载/dest"/>
        </route>-->
       <!-- <route>&lt;!&ndash; CXF consumer using MESSAGE format &ndash;&gt;
            <from uri="servlet:///test"/>&lt;!&ndash; log input received &ndash;&gt;
            <to uri="http://localhost:8080/haze/cxf/userService?bridgeEndpoint=true"/>&lt;!&ndash; enrich the input by ensure the incidentId parameter is set
&ndash;&gt;&lt;!&ndash; Need to remove the http headers which could confuse the http endpoint
&ndash;&gt;<removeHeaders pattern="CamelHttp*"/>&lt;!&ndash; send proxied request to real web service &ndash;&gt;
            <to uri="log:output"/></route>-->

       <!-- <route>
            <from uri="servlet:///test"/>
            <to uri="http://localhost:8080/haze/cxf/userService?bridgeEndpoint=true"/>

<removeHeaders pattern="CamelHttp*"/>
            <to uri="log:output"/></route>
-->
    </camelContext>

   <!-- <bean id="bossDownLoadFilter" class="com.xinyuan.haze.demo.camel.BossFTPDownLoadFilter">
        &lt;!&ndash;需要下载的文件名前缀&ndash;&gt;
        <property name="filePrefix" value="BOSS"/>
    </bean>-->
    <!--<bean id="myRouteBuilder" class="com.xinyuan.haze.demo.camel.BossFTPRouteBuilder"/>-->

    <bean id="myProcessor" class="com.xinyuan.haze.soa.camel.spring.MyProcessor"/>
</beans>
