<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <description>Shiro配置</description>

    <!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="180000"/>
    </bean>
    <!-- 会话管理器 -->
    <bean id="sessionManager"
          class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <!--<property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>-->
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	    <property name="sessionManager" ref="sessionManager" />
		<property name="realm" ref="shiroRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>
    <!-- 会话验证调度器 -->
    <!--<bean id="sessionValidationScheduler"
          class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler">
        <property name="sessionValidationInterval" value="1800000"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>-->
    <!--<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO" />  
    </bean>  -->
  
   <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO" /> 
   
	<bean id="shiroRealm" class="com.xinyuan.haze.security.shiro.ShiroRealm" depends-on="userDao,roleDao,resourceDao">
	   <property name="defaultPermissions">
            <list>
                <value>security:change-password</value>
                <value>security:index</value>
            </list>
        </property>
        <property name="authorizationCacheName" value="shiroCache" />
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="filters">
            <map>
                <entry key="validteCodeAuthc" value-ref="validateCodeAuthenticationFilter" />
            </map>
        </property>
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		
		<property name="filterChainDefinitionMap" ref="chainDefinitionSectionMetaSource" />
	    <property name="successUrl" value="/" />
		<!-- 未授权时要跳转的连接 -->
        <property name="unauthorizedUrl" value="/" />
	</bean>

    <!-- 自定义对 shiro的连接约束,结合shiroSecurityFilter实现动态获取资源 -->
    <bean id="chainDefinitionSectionMetaSource" class="com.xinyuan.haze.security.shiro.ChainDefinitionSectionMetaSource" depends-on="resourceDao,roleDao">
        <!-- 默认的连接配置 -->
        <property name="filterChainDefinitions">
            <value>
                /login = validteCodeAuthc
                /logout = logout
                /resources/** = anon
                /index = authc
                /validateCode = anon
                /cxf/** = anon
                /** = authc
            </value>
        </property>
    </bean>
    <bean id="validateCodeAuthenticationFilter" class="com.xinyuan.haze.security.shiro.ValidateCodeAuthenticationFilter" depends-on="configDao"/>
    
	<!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
	    <property name="cacheManager" ref="cacheManagerFactory" />
	</bean>
	

</beans>
